@import "bootstrap";


.booyah-box {
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow:  1px 1px 2px 0 #d0d0d0;
background: #fff;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding: 0 5%;
}

.frosty{
  background: rgba(0,0,0,0.5);
  padding: 10px 10px;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.hero {
  background: asset-url('roberta-sorge-125543-unsplash.jpg') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}
.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: asset-url('pw_pattern.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: blue;
}

body {
  background: asset-url('dust_scratches.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

